{% extends '@layout/default.html.twig' %}

{% block title %}
Authentication
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Authentication</h1>
            <hr>
            {% if error %}
            <div class="alert alert-warning">
                {{ error }}
            </div>
            {% endif %}
            <form action="{{ path('login') ~ (ui.custom ? '?c=' ~ ui.custom : '') }}" method="POST">
                <div class="form-group">
                    <label for="login-username">Username</label>
                    <input type="text" name="username" class="form-control" id="login-username" required>
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" name="password" class="form-control" id="login-password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}