<div class="modal" id="modal-layers" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-plus-circle"></i>
                    Add a layer
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="modal-layers-services" autocomplete="off">
                    <optgroup label="WMS Services" id="modal-layers-services-wms" style="display:none;">
                    </optgroup>
                    <optgroup label="WMTS Services" id="modal-layers-services-wmts" style="display:none;">
                    </optgroup>
                    <optgroup label="Files" id="modal-layers-files">
                        <option value="geojson" data-upload="true" data-target="#modal-layers-files-geojson" selected>GeoJSON</option>
                        <option value="gpx" data-upload="true" data-target="#modal-layers-files-gpx">GPX</option>
                        <option value="kml" data-upload="true" data-target="#modal-layers-files-kml">KML</option>
                    </optgroup>
                </select>
                <div id="progress-upload" class="progress mt-3">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <hr>
                <div id="modal-layers-layers">
                    <div id="modal-layers-files-geojson">
                        <ul class="list-group"></ul>
                    </div>
                    <div id="modal-layers-files-gpx">
                        <ul class="list-group"></ul>
                    </div>
                    <div id="modal-layers-files-kml">
                        <ul class="list-group"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="btn btn-outline-secondary" id="btn-layers-upload">
                    <i class="fas fa-upload"></i>
                    Upload
                </span>
                <div class="btn-group dropup" role="group">
                    <button id="btn-layers-add" type="button" class="btn btn-outline-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-link"></i>
                        Add service
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btn-layers-add">
                        <a class="dropdown-item" href="#" id="btn-layers-add-wms">WMS Service</a>
                        <a class="dropdown-item" href="#" id="btn-layers-add-wmts">WMTS Service</a>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="btn-layers-apply">Apply</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
