<div class="modal" id="modal-layers" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-plus-circle"></i>
                    Add a layer
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="modal-layers-select" autocomplete="off">
                    <optgroup label="WMS services" id="modal-layers-optgroup-wms">
                    </optgroup>
                    <optgroup label="WMTS services" id="modal-layers-optgroup-wmts">
                    </optgroup>
                    <optgroup label="Files" id="modal-layers-optgroup-files">
                        <option value="csv" data-upload="true" data-bs-target="#modal-layers-files-csv">CSV</option>
                        <option value="geojson" data-upload="true" data-bs-target="#modal-layers-files-geojson">GeoJSON
                        </option>
                        <option value="gpx" data-upload="true" data-bs-target="#modal-layers-files-gpx">GPX</option>
                        <option value="kml" data-upload="true" data-bs-target="#modal-layers-files-kml">KML</option>
                    </optgroup>
                </select>
                <div id="modal-layers-format-help" class="mt-2 small text-muted" style="display:none;">
                    <div id="modal-layers-format-help-csv">
                        <ul>
                            <li>First line must contain columns name</li>
                            <li>Coordinates must be in columns: <var>Longitude</var>, <var>Latitude</var> or
                                <var>X</var>, <var>Y</var> or <var>WKT</var>
                            </li>
                            <li>Text must be encoded using UTF-8</li>
                        </ul>
                    </div>
                    <div id="modal-layers-format-help-geojson">
                        Your files must be compatible with <a target="_blank"
                            href="https://tools.ietf.org/html/rfc7946">GeoJSON specification</a>.
                    </div>
                    <div id="modal-layers-format-help-gpx">
                        Your files must be compatible with
                        <a target="_blank" href="https://www.topografix.com/gpx.asp">GPX specification</a>.
                    </div>
                    <div id="modal-layers-format-help-kml">
                        Your files must be compatible with
                        <a target="_blank" href="https://www.opengeospatial.org/standards/kml/">OGC KML
                            specification</a>.
                    </div>
                </div>
                <div id="progress-upload" class="progress mt-3">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <hr>
                <div id="modal-layers-layers">
                    <div id="modal-layers-files-csv" style="display: none;">
                        <ul class="list-group"></ul>
                        <div class="accordion mt-1"></div>
                    </div>
                    <div id="modal-layers-files-geojson" style="display: none;">
                        <ul class="list-group"></ul>
                        <div class="accordion mt-1"></div>
                    </div>
                    <div id="modal-layers-files-gpx" style="display: none;">
                        <ul class="list-group"></ul>
                        <div class="accordion mt-1"></div>
                    </div>
                    <div id="modal-layers-files-kml" style="display: none;">
                        <ul class="list-group"></ul>
                        <div class="accordion mt-1"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="btn btn-outline-secondary" id="btn-layers-upload">
                    <i class="fas fa-upload"></i>
                    Upload
                </span>
                <div class="btn-group dropup" role="group">
                    <button id="btn-layers-add" type="button" class="btn btn-outline-secondary dropdown-toggle"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-link"></i>
                        Add service
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btn-layers-add">
                        <a class="dropdown-item" href="#" id="btn-layers-add-wms">WMS Service</a>
                        <a class="dropdown-item" href="#" id="btn-layers-add-wmts">WMTS Service</a>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="btn-layers-apply">Apply</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>