<div class="modal" id="modal-settings" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-tools"></i>
                    Layer settings
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <span class="font-weight-bold"></span>
                    <hr>
                    <div class="form-group">
                        <label for="layer-queryable-1">Queryable</label>
                        <div id="layer-queryable" class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="queryable" value="1" id="layer-queryable-1"> On
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="queryable" value="0" id="layer-queryable-0"> Off
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="layer-label">Label</label>
                        <select class="form-control" name="label" id="layer-label">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="layer-opacity">Opacity</label>
                        <input type="range" min="0" max="100" step="10" class="form-control" name="opacity"
                            id="layer-opacity">
                        <small id="layer-opacity-text" class="form-text text-muted text-right"></small>
                    </div>
                    <div class="form-group">
                        <label for="layer-color">Color</label>
                        <input type="color" class="form-control" id="layer-color" name="color">
                        <small id="layer-color-text" class="form-text text-muted" hidden></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btn-settings-apply">Apply</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>