.ol-attribution.ol-logo-only,
.ol-attribution.ol-uncollapsible {
  max-width: calc(100% - 3em) !important;
  height: 1.5em !important;
}

.ol-control button,
.ol-attribution,
.ol-scale-line-inner {
  font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica,
    sans-serif !important;
}

// See https://github.com/openlayers/openlayers/pull/10104
.ol-attribution ul {
  font-size: 0.7rem;
  line-height: 1.375em;
}
.ol-attribution li {
  line-height: inherit;
}
.ol-attribution.ol-uncollapsible {
  height: 1.1em;
  line-height: 1em;
}
