.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: zoom-out;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;

  & > .overlay-loading {
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 2em;
    position: fixed;
  }

  & > .overlay-content {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    & > .overlay-image {
      background-repeat: no-repeat;
      background-position: center center;
      height: 100%;
      width: 100%;
    }

    & > .overlay-caption {
      color: #fff;
      text-align: center;
    }
  }

  /*
    & > .overlay-image {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;

      & > img {
        max-height: 100%;
        width: auto;
      }

      & > .overlay-caption {
        bottom: 0;
        color: #fff;
        text-align: center;
        z-index: 15;
      }
    }
    */
}
