$position-top: 6.5em;

.ol-mapexport {
  top: $position-top;
  left: 0.5em;
}

// .ol-touch .ol-mapexport {
//   top: $position-top + 15px;
// }

.sidebar-left ~ .sidebar-map .ol-mapexport {
  margin-left: 46px;
}

@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map .ol-mapexport {
    transition: margin-left 500ms;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left ~ .sidebar-map .ol-mapexport {
    margin-left: 317px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left ~ .sidebar-map .ol-mapexport {
    margin-left: 402px;
  }
}

@media (min-width: 1200px) {
  .sidebar-left ~ .sidebar-map .ol-mapexport {
    margin-left: 472px;
  }
}

@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .ol-mapexport {
    margin-left: 52px;
  }
}
