$position-top: 8.5em;

.ol-measure {
  top: $position-top;
  left: 0.5em;
}

// .ol-touch .ol-measure {
//   top: $position-top + 15px;
// }

.sidebar-left ~ .sidebar-map .ol-measure {
  margin-left: 46px;
}

@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map .ol-measure {
    transition: margin-left 500ms;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left ~ .sidebar-map .ol-measure {
    margin-left: 317px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left ~ .sidebar-map .ol-measure {
    margin-left: 402px;
  }
}

@media (min-width: 1200px) {
  .sidebar-left ~ .sidebar-map .ol-measure {
    margin-left: 472px;
  }
}

@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .ol-measure {
    margin-left: 52px;
  }
}

.ol-measure-result {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 0 4px;
  font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica,
    sans-serif;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 700;
}
