<div class="sidebar-pane" id="about">
    <h1 class="sidebar-header">
        About
        <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
    </h1>
    <h2 class="h3 mt-3">
        Mapper
        {% if config.custom %}: {{ config.title ?? config.custom | upper }}{% endif %}
    </h2>
    {% if config is defined and config.description %}
    <p class="mt-3">
        {{ config.description | nl2br }}
    </p>
    {% endif %}
</div>
