<div class="sidebar-pane" id="about">
    <h1 class="sidebar-header">
        About
        <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
    </h1>
    <h2 class="h3 mt-3">
        Mapper
        {{ ui.custom ? (ui.title ?? ui.custom) | upper }}
    </h2>
    {% if ui.description %}
    <p class="mt-3">
        {{ ui.description | nl2br }}
    </p>
    {% endif %}
</div>
