<div class="list-group mt-3">
{% for id, baselayer in baselayers %}
    <button type="button" class="list-group-item list-group-item-action" data-id="{{ id }}">
        {{ baselayer.name }}
    </button>
{% endfor %}
</div>
