<div class="sidebar-pane" id="geocoder">
    <h1 class="sidebar-header">
        Geocoder
        <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
    </h1>

    <div class="mt-3">
        <form id="geocoder-address" autocomplete="off">
            <div class="input-group mb-3">
                <input type="text" id="geocoder-address-search" class="form-control" placeholder="Address">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div id="geocoder-address-results"></div>
    </div>
</div>
