<div class="mt-3">
    <div id="info-location">
        <i class="fas fa-map-marker-alt"></i>
        <span id="info-location-coordinates"></span>
    </div>
    <hr>
    <div id="info-loading" style="font-style: italic;">
        <i class="fas fa-spinner fa-spin"></i>
        Loading ...
    </div>
    <ul id="info-list" class="list-unstyled"></ul>
</div>
