<div class="sidebar-pane" id="search">
    <h1 class="sidebar-header">
        Search
        <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
    </h1>

    <div class="mt-3">
        <form id="search-form" autocomplete="off">
            <div class="input-group mb-3">
                <input type="text" id="search-search" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <ul id="search-list" class="list-unstyled"></ul>
        <div id="search-details" hidden></div>
    </div>
</div>
