<div class="sidebar-pane" id="share">
    <h1 class="sidebar-header">
        Share
        <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
    </h1>
    <div class="mt-3">
        Copy and share the following URL:
        <pre class="bg-light mt-1 p-2"><code id="share-url"></code></pre>
    </div>
    <div>
        The URL includes the following informations:
        <ul>
            <li>Map center: <var id="share-coordinate"></var></li>
            <li>Map zoom level: <var id="share-zoom"></var></li>
            <li>Baselayer: <var id="share-baselayer"></var></li>
        </ul>
    </div>
</div>